<html>

<head>
<style>
  #navbarSupportedContent{
    margin-left:27%;
  }
  #search{
    padding: 9px 9px 9px 9px;
    position: absolute;
    right: 9px;
    border: none;
  }
  #search:hover{
     border: 1px solid green ;
  }
  #formSearch{
    position: relative;
  }
  .wrongV{
    text-align: center;
    color: red;
  }
  #tittleWrong{
    color: black;
    text-transform: uppercase;
  }

  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/vocabulary">LearnEnglish</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

      
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Add vocabulary
          </a>
          <div class="dropdown-menu navbarLesson" aria-labelledby="navbarDropdown">
            <% for(var i=0;i< lesson.length;i++){ %>
            <a class="dropdown-item" href="/vocabulary/addVocabulary?_id=<%=lesson[i]._id %>"><%= lesson[i].name %></a>
            <%}%>
                  </div>
                </li>
                <li class="nav-item">
                  
                    <a class="nav-link" href="/vocabulary/addLesson">Add lesson</a>
                  </li>
                  <li class="nav-item">
                  
                    <a class="nav-link" href="/vocabulary/dial">Dial</a>
                  </li>
                <li class="nav-item dropdown" >
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Take an exam
                  </a>
                  <div class="dropdown-menu navbarLesson" aria-labelledby="navbarDropdown">
                    <% for(var i=0;i< lesson.length;i++){ %>
            <a class="dropdown-item" href="/vocabulary/startTakeAnExam?id_=<%=lesson[i]._id %>"><%= lesson[i].name %></a>
            <%}%>
                  </div>
                </li>
                
              </ul>
              <form class="form-inline my-2 my-lg-0" id='formSearch' action="/vocabulary/searchVocabulary" method="POST">
                <input class="form-control mr-sm-2" name="search" autocomplete="off" type="search" placeholder="Search vocabulary" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id='search'><i class="fas fa-search" ></i></button>
              </form>
            </div>
          </nav>


          <!-- form modal delete vocabulary -->
          <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="border-bottom: none">
                        <h5 class="modal-title " id="exampleModalLongTitle" ><i class="fas fa-exclamation-circle iconWarning"></i></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="tittleWarning">
                      ARE YOU SURE YOU WANT TO DELETE?
                    </div>
                    <div class="modal-footer" id="footerWarning">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">YES </button>
                        <a class="btn btn-success" id="test"  style="padding-left: 14px;padding-right: 14px;">NO </a>
                    </div>
                </div>
            </div>
        </div>  
        <!-- update lai for link of element a ==> run to server to remove  -->
        <script>
          $(document).ready(function () {
              $(".btna").on("click", function () {
                  var url = $(this).attr("data-id");
                  $("#test").attr("href", url);

              });
          });
      </script>
    </body>
</html>